@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

li {
  list-style-type: none; 
}

.MyListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: 'Poppins', sans-serif;
  max-width: 600px;
  margin: auto;

  height: 70px;
  margin: 20px 36px;
  box-shadow: 0px 3px 8px #6e6e6e;

  background-color: #d4d4d4;
}

.ManualInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: 'Poppins', sans-serif;
  max-width: 800px;

  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 8px #6e6e6e;

  background-color: #d4d4d4;
}

.ManualInput--Single {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: auto;
  height: 100%;
}

.ManualInput--Single--Text{
  margin: auto;
  margin-right: 10px;
}

.ManualInput--Single--Number {
  margin: auto;
  margin-right: 10px;
  width: 70px;
}

.ManualInput--Single--Range {
  margin: auto;
  margin-right: 10px;
}